---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const posts = (await getCollection("posts")).sort(function (first, second) {
	return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="All Posts">
	<main class="flex flex-col gap-10">
		<header class="flex w-full flex-row justify-between gap-2">
			<h1 class="text-2xl text-neutral-200">
				notes and thoughts on computer stuff
			</h1>
		</header>
		<article class="flex flex-col gap-4">
			{
				posts.map((post) => (
					<a
						class="group flex flex-col gap-2  py-4 text-neutral-300 transition-all hover:text-neutral-100"
						href={`/posts/${post.slug}`}
					>
						<h2 class="underline-neutral-400 under text-lg font-semibold underline underline-offset-4">
							{post.data.title}
						</h2>

						<p class="text-md">{post.data.description}</p>

						<div class="flex flex-row items-center gap-4">
							<p class="text-md">
								{formatDate(post.data.publishedAt)}
							</p>
						</div>
					</a>
				))
			}
		</article>
	</main>
</Layout>
