---
import Layout from "../../layouts/Layout.astro"
import ArtWorks from '../../data/art'
---
<Layout>
    <h1>Art, Doodles and Creative Code Experiments</h1>
    <section class="p-3 md:p-10">
        <div class="columns-1 gap-3 sm:columns-2 lg:columns-2 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(:first-child)]:mt-8">
            {
                ArtWorks.map((art) => (
                    <img class="rounded-xl" src={art.link} />
                ))
            }
        </div>
        
        
    </section>

</Layout>
