---
---

<footer class="flex flex-col gap-10">
    <div class="bg-neutral-400  w-full h-[1px] "></div>
    <div class="flex justify-between items-center">
        <h1>Tinodaishe Tembo</h1>
        <div class="flex justify-evenly gap-2">
            <p>X</p>
            <p>LinkedIn</p>
            <p>GitHub</p>
        </div>
    </div>
</footer>
