---
import Link from "./shared/Link.astro";
---

<footer class="flex flex-col gap-10">
	<div class="h-[1px] w-full bg-neutral-400"></div>
	<div class="flex items-center justify-between">
		<h1 class="text-sm">&copy; - Tinodaishe Tembo</h1>
		<div class="flex justify-evenly gap-2">
			<Link
				label="X"
				href="https://twitter.com/xoboid"
				isUnderline
			/>
			<Link
				label="Github"
				href="https://github.com/x0bd"
				isUnderline
			/>
			<Link
				label="LinkedIn"
				href="https://www.linkedin.com/in/tinodaishe-tembo-70aa3a266/"
				isUnderline
			/>
		</div>
	</div>
</footer>
