---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header
	class="z-40 flex w-full flex-col gap-2 text-base font-light text-neutral-400 md:flex-row md:justify-between"
>
	<a
		href="/"
		class:list={{
			["hover:text-neutral-100"]: true,
			["text-neutral-100"]: pathname === "/",
		}}
		>xoboid</a
	>

	<nav role="navigation">
		<ul
			role="list"
			class="flex flex-row gap-2"
		>
			<li>
				<a
					href="/posts"
					class:list={{
						["hover:text-neutral-100"]: true,
						["text-neutral-100"]: pathname === "/posts",
					}}
					>thoughts</a
				>
			</li>
			<li></li>
			<li>
				<a
					href="/projects"
					class:list={{
						["hover:text-neutral-100"]: true,
						["text-neutral-100"]: pathname === "/projects",
					}}
					>projects</a
				>
			</li>
			<!-- UnCheck This When Ready To Create Section -->
			<!-- <li></li>
			<li>
				<a
					href="/art"
					class:list={{
						["hover:text-neutral-100"]: true,
						["text-neutral-100"]: pathname === "/art",
					}}
					>art</a
				>
			</li> -->
		</ul>
	</nav>
</header>
